[Unit]
Description=Clipse clipboard listener
After=graphical-session.target niri-session-env.service hypr-session-env.service dbus.service
BindsTo=graphical-session.target
PartOf=graphical-session.target niri-session.target hyprland-session.target
ConditionEnvironment=WAYLAND_DISPLAY
ConditionPathExists=/usr/bin/clipse
ConditionPathExists=/usr/bin/wl-paste

[Service]
Type=simple
NoNewPrivileges=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
ExecStart=/usr/bin/wl-paste --watch /usr/bin/clipse -wl-store
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
WantedBy=niri-session.target
WantedBy=hyprland-session.target
