[Unit]
Description=Hyprsunset blue-light and gamma filter
BindsTo=wayland-wm@start\x2dhyprland.service
After=graphical-session.target wayland-wm@start\x2dhyprland.service hypr-daemons.target dbus.service
PartOf=hypr-post-daemons.target hyprland-session.target graphical-session.target wayland-wm@start\x2dhyprland.service
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=XDG_CURRENT_DESKTOP=Hyprland
ConditionPathExists=%h/.config/hypr/hyprsunset.conf

[Service]
Type=simple
NoNewPrivileges=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
ExecStart=/usr/bin/hyprsunset
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=hypr-post-daemons.target
