[Unit]
Description=Noctalia Shell
# Sadece Niri oturumundaysak çalış
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri
# Niri soketi hazır olmadan başlama (Döngüden kaçınmak için target'lara bağlanmıyoruz)
After=niri-ready.service

[Service]
Environment=QS_CACHE_DIR=%t/noctalia-qml-cache
ExecStart=/usr/bin/qs -c noctalia-shell --no-duplicate
Restart=on-failure
RestartSec=1

[Install]
# Niri'ye özel target yerine genel kullanıcı hedefine bağlıyoruz
WantedBy=default.target
