[Unit]
Description=Bluetooth auto-connect (delayed)

[Timer]
OnStartupSec=10s
AccuracySec=1s
Unit=bt-autoconnect.service

[Install]
WantedBy=default.target
