[Unit]
Description=Hyprland Bluetooth auto-connect
ConditionEnvironment=XDG_CURRENT_DESKTOP=Hyprland
Wants=pipewire.service wireplumber.service
After=pipewire.service wireplumber.service

[Service]
Type=simple
TimeoutStartSec=10s
ExecStart=/usr/bin/bash -lc '%h/.local/bin/bluetooth_toggle --connect'
Restart=on-failure
RestartSec=30
