[Unit]
Description=Niri Bluetooth auto-connect (delayed)
# Grafik oturumu oturduktan sonra başla
After=graphical-session.target

[Timer]
# Login olduktan 30 saniye sonra çalış (Donanım/Sürücülerin tam hazır olması için)
OnStartupSec=30s
AccuracySec=1s
Unit=niri-bt-autoconnect.service

[Install]
WantedBy=default.target
