[Unit]
Description=Niri Bluetooth auto-connect
# Sadece Niri oturumundaysak çalış
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri
Wants=pipewire.service wireplumber.service
After=pipewire.service wireplumber.service

[Service]
# Scripti arka plana atıp anında devam etmesi için simple yapıyoruz
Type=simple
TimeoutStartSec=10s
ExecStart=/usr/bin/bash -lc '%h/.local/bin/bluetooth_toggle --connect'
Restart=on-failure
RestartSec=30

# [Install] silindi - Sadece timer tarafından başlatılacak.
