[Unit]
Description=Niri Bluetooth auto-connect (delayed)
# Grafik oturumu oturduktan sonra başla
After=graphical-session.target

[Timer]
# Login olduktan 10 saniye sonra çalış
OnStartupSec=10s
AccuracySec=1s
Unit=niri-bt-autoconnect.service

[Install]
WantedBy=default.target
