[Unit]
Description=Niri Bluetooth auto-connect
Wants=pipewire.service wireplumber.service
After=niri-session.target pipewire.service wireplumber.service
PartOf=niri-session.target

[Service]
Type=simple
# Arka planda çalışması için Timeout'u düşürüyoruz
TimeoutStartSec=10s
ExecStart=/usr/bin/bash -lc '%h/.local/bin/bluetooth_toggle --connect'
Restart=on-failure
RestartSec=30

[Install]
# Timer zaten bu servisi başlatacağı için burayı boş bırakabiliriz 
# veya sadece timer'ın düzgün çalıştığından emin oluruz.
