state/
modules/zsh/dotfiles/zsh/history
modules/zsh/dotfiles/zsh/.zcompdump
modules/tmux/dotfiles/tmux/fzf
modules/mpv/dotfiles/mpv/mpvHistory.log
.DS_Store
*.swp
*.bak
*.backup.*
*.backup
modules/tmux/dotfiles/tmux/plugins/tpm_log.txt
modules/qt/dotfiles/qt5ct/qt5ct.conf.backup
modules/qt/dotfiles/qt6ct/qt6ct.conf.backup
modules/copyq/dotfiles/copyq/copyq.conf.backup
modules/copyq/dotfiles/copyq/copyq.lock
modules/copyq/dotfiles/copyq/copyq.pub
modules/copyq/dotfiles/copyq/copyq_tab*
modules/copyq/dotfiles/copyq/copyq-monitor.ini
modules/copyq/dotfiles/copyq/copyq_geometry.ini
modules/copyq/dotfiles/copyq/copyq_tabs.ini
modules/copyq/dotfiles/copyq/copyq_geometry.ini.*
modules/paru/dotfiles/paru/paru.conf
modules/dms/dotfiles/DankMaterialShell/plugins/.repos/
modules/dms/dotfiles/DankMaterialShell/plugins/.repos/
modules/dms/dotfiles/DankMaterialShell/plugins/dankGifSearch
modules/dms/dotfiles/DankMaterialShell/plugins/dankGifSearch.meta
modules/dms/dotfiles/DankMaterialShell/plugins/dankStickerSearch
modules/dms/dotfiles/DankMaterialShell/plugins/dankStickerSearch.meta
modules/dms/dotfiles/DankMaterialShell/plugins/sathiAi
modules/dms/dotfiles/DankMaterialShell/settings.json
modules/dms/dotfiles/DankMaterialShell/plugin_settings.json
modules/noctalia/dotfiles/noctalia/plugins/assistant-panel/settings.json
modules/noctalia/dotfiles/noctalia/plugins/notes-scratchpad/settings.json
modules/noctalia/dotfiles/noctalia/plugins/simple-notes/settings.json
modules/noctalia/dotfiles/noctalia/plugins/todo/settings.json
modules/noctalia/dotfiles/noctalia/settings.json
modules/dms/dotfiles/DankMaterialShell/plugins/dankBitwarden/
modules/dms/dotfiles/DankMaterialShell/plugins/sshConnections
modules/dms/dotfiles/DankMaterialShell/plugins/sshConnections.meta
modules/ytdlp/dotfiles/yt-dlp/cookies-youtube.txt
mimeinfo.cache
brave-*.desktop
!modules/xdg-mimes/dotfiles/applications/brave-kenp.desktop
