state/
modules/zsh/dotfiles/zsh/history
modules/zsh/dotfiles/zsh/.zcompdump
modules/tmux/dotfiles/tmux/fzf
modules/mpv/dotfiles/mpv/mpvHistory.log
.DS_Store
*.swp
*.bak
*.backup.*
modules/admin/
modules/dms/dotfiles/DankMaterialShell/plugins/.repos/
modules/dms/dotfiles/DankMaterialShell/plugins/.repos/
modules/dms/dotfiles/DankMaterialShell/plugins/dankGifSearch
modules/dms/dotfiles/DankMaterialShell/plugins/dankGifSearch.meta
modules/dms/dotfiles/DankMaterialShell/plugins/dankStickerSearch
modules/dms/dotfiles/DankMaterialShell/plugins/dankStickerSearch.meta
modules/dms/dotfiles/DankMaterialShell/settings.json
modules/dms/dotfiles/DankMaterialShell/plugin_settings.json
modules/ytdlp/dotfiles/yt-dlp/cookies-youtube.txt
mimeinfo.cache
brave-*.desktop
