[Unit]
Description=Polkit authentication agent (polkit-gnome)
After=graphical-session.target hypr-bootstrap.service
PartOf=hypr-daemons.target graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=XDG_CURRENT_DESKTOP=Hyprland

[Service]
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
SuccessExitStatus=1
Restart=on-abnormal
RestartSec=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=hypr-daemons.target
