[Unit]
Description=Hyprland session daemons stage
Wants=hyprland-polkit-agent.service hypr-nm-applet.service hypr-blueman-applet.service hypr-clip-persist.service hyprsunset.service
After=graphical-session.target hypr-bootstrap.service
BindsTo=graphical-session.target
PartOf=hyprland-session.target graphical-session.target
