[Unit]
Description=NetworkManager applet (Hyprland)
BindsTo=wayland-wm@start\x2dhyprland.service
Wants=hypr-status-notifier-ready.service
After=graphical-session.target wayland-wm@start\x2dhyprland.service hypr-bootstrap.service hypr-status-notifier-ready.service dbus.service
PartOf=hypr-daemons.target graphical-session.target wayland-wm@start\x2dhyprland.service
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=XDG_CURRENT_DESKTOP=Hyprland

[Service]
NoNewPrivileges=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
Environment=GDK_BACKEND=wayland,x11
ExecStart=/usr/bin/nm-applet --indicator
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=hypr-daemons.target
