[Unit]
Description=Hyprland session daemons stage
Wants=hyprland-polkit-agent.service hypr-nm-applet.service hypr-blueman-applet.service hypr-clip-persist.service gnome-keyring-secrets.service
After=hypr-bootstrap.service
PartOf=hyprland-session.target
