[Unit]
Description=wl-clip-persist (hyprland)
BindsTo=wayland-wm@start\x2dhyprland.service
After=graphical-session.target wayland-wm@start\x2dhyprland.service hypr-bootstrap.service
PartOf=hypr-daemons.target graphical-session.target wayland-wm@start\x2dhyprland.service
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=XDG_CURRENT_DESKTOP=Hyprland

[Service]
NoNewPrivileges=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
ExecStart=/usr/bin/wl-clip-persist --clipboard both
SuccessExitStatus=1
Restart=on-abnormal
RestartSec=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=hypr-daemons.target
