[Unit]
Description=Hyprland compositor session
Documentation=man:systemd.special(7)
Wants=graphical-session.target graphical-session-pre.target xdg-desktop-autostart.target
After=graphical-session.target graphical-session-pre.target dbus.service
BindsTo=graphical-session.target
PartOf=graphical-session.target
