[Unit]
Description=Delayed XDG Desktop Portal Timer (10s)
After=graphical-session.target hyprland-session.target niri-session.target
PartOf=graphical-session.target hyprland-session.target niri-session.target

[Timer]
OnStartupSec=10s
AccuracySec=1s
Unit=xdg-desktop-portal-delayed.service

[Install]
WantedBy=hyprland-session.target
WantedBy=niri-session.target
