[Unit]
Description=Delayed XDG Desktop Portal Timer (10s)
PartOf=graphical-session.target

[Timer]
OnActiveSec=10s
AccuracySec=1s
Unit=xdg-desktop-portal-delayed.service

[Install]
WantedBy=graphical-session.target
