[Unit]
Description=Delayed Geoclue Demo Agent (15s delay)
After=graphical-session.target

[Timer]
OnStartupSec=15s
OnActiveSec=15s
AccuracySec=1s
Unit=geoclue-agent.service

[Install]
WantedBy=default.target
