[Unit]
Description=Clipse clipboard listener (Niri)
BindsTo=wayland-wm@niri\x2dsession.service
After=graphical-session.target wayland-wm@niri\x2dsession.service niri-bootstrap.service dbus.service
PartOf=niri-daemons.target graphical-session.target wayland-wm@niri\x2dsession.service
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri
ConditionPathExists=/usr/bin/clipse

[Service]
Type=simple
NoNewPrivileges=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
ExecStart=/usr/bin/clipse -listen
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=niri-daemons.target
