[Unit]
Description=Niri bootstrap (init)
Wants=pipewire.service wireplumber.service
After=graphical-session.target wayland-wm@niri\x2dsession.service wayland-session-waitenv.service pipewire.service wireplumber.service
Before=niri-daemons.target
PartOf=niri-session.target
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=NIRI_SOCKET
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri

[Service]
Type=oneshot
TimeoutStartSec=60
RemainAfterExit=yes
Environment=PATH=/usr/local/bin:/usr/bin:/bin
Environment=NIRI_BOOT_DELAY=0
ExecStart=/usr/bin/bash "%h/.local/bin/niri-bootstrap"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=niri-session.target
