[Unit]
Description=Niri post-bootstrap polish
After=niri-bootstrap.service niri-daemons.target niri-polkit-agent.service niri-nm-applet.service niri-blueman-applet.service niri-snapper-tools-check.service niri-sticky.service niri-niriswitcher.service niri-desktop-settings.service dbus.service
PartOf=niri-session.target
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri
ConditionPathExists=%h/.local/bin/niri-post-bootstrap

[Service]
Type=oneshot
TimeoutStartSec=20
RemainAfterExit=yes
Environment=PATH=/usr/local/bin:/usr/bin:/bin:%h/.local/bin:%h/bin
ExecStart=/usr/bin/bash "%h/.local/bin/niri-post-bootstrap"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=niri-post-daemons.target
