[Unit]
Description=Blueman applet (Niri)
BindsTo=wayland-wm@niri\x2dsession.service
Wants=niri-status-notifier-ready.service
After=graphical-session.target wayland-wm@niri\x2dsession.service niri-bootstrap.service niri-status-notifier-ready.service dbus.service
PartOf=niri-daemons.target graphical-session.target wayland-wm@niri\x2dsession.service
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri

[Service]
Type=simple
NoNewPrivileges=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
Environment=GDK_BACKEND=wayland,x11
ExecStart=/usr/bin/blueman-applet
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=niri-daemons.target
