[Unit]
Description=Snapper tools check (Niri)
After=niri-session.target niri-ready.service
PartOf=niri-session.target
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri
ConditionPathExists=/usr/bin/snapper-tools-check

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -lc "/usr/bin/snapper-tools-check || true"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=niri-session.target
