[Unit]
Description=Niri sticky daemon
BindsTo=wayland-wm@niri\x2dsession.service
After=graphical-session.target wayland-wm@niri\x2dsession.service niri-bootstrap.service
PartOf=niri-daemons.target graphical-session.target wayland-wm@niri\x2dsession.service
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=NIRI_SOCKET
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri

[Service]
Type=simple
NoNewPrivileges=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
ExecStart=%h/.local/bin/niri-osc sticky
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=niri-daemons.target
