[Unit]
Description=Niri niriswitcher daemon
After=graphical-session.target niri-daemons.target
PartOf=niri-daemons.target
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=NIRI_SOCKET
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri
ConditionPathExists=/usr/bin/niriswitcher

[Service]
Type=simple
ExecStart=/usr/bin/niriswitcher
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=niri-daemons.target
