[Unit]
Description=Niri niriswitcher daemon
BindsTo=wayland-wm@niri\x2dsession.service
After=graphical-session.target wayland-wm@niri\x2dsession.service niri-bootstrap.service
PartOf=niri-daemons.target graphical-session.target wayland-wm@niri\x2dsession.service
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=NIRI_SOCKET
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri
ConditionPathExists=/usr/bin/niriswitcher

[Service]
Type=simple
NoNewPrivileges=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
ExecStart=/usr/bin/niriswitcher
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=niri-daemons.target
