[Unit]
Description=Delayed Auto-switch power profile
After=graphical-session.target

[Timer]
OnStartupSec=60s
OnActiveSec=60s
AccuracySec=1s
Unit=ppp-auto-profile.service

[Install]
WantedBy=default.target
