[Unit]
Description=Delayed Auto-switch power profile (40s delay)
After=graphical-session.target

[Timer]
# Login olduktan 40 saniye sonra çalış
OnStartupSec=40s
OnActiveSec=40s
AccuracySec=1s
Unit=ppp-auto-profile.service

[Install]
WantedBy=default.target
