[Unit]
Description=Sunsetr blue-light and gamma filter
Documentation=https://github.com/psi4j/sunsetr?tab=readme-ov-file#sunsetr
BindsTo=graphical-session.target
After=graphical-session.target niri-session-env.service hypr-session-env.service mango-session-env.service dbus.service
PartOf=graphical-session.target niri-session.target hyprland-session.target mangowm-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=PATH=/usr/bin:/usr/local/bin:%h/.local/bin
Environment=HOME=%h
ExecStartPre=/usr/bin/bash -lc '/usr/bin/sunsetr status >/dev/null 2>&1 && /usr/bin/sunsetr stop >/dev/null 2>&1 || true'
ExecStart=/usr/bin/sunsetr -b
ExecStop=/usr/bin/bash -lc '/usr/bin/sunsetr status >/dev/null 2>&1 && /usr/bin/sunsetr stop >/dev/null 2>&1 || true'
Slice=background.slice

[Install]
WantedBy=graphical-session.target
WantedBy=niri-session.target
WantedBy=hyprland-session.target
WantedBy=mangowm-session.target
