[Unit]
Description=Track sunsetr presets by time while running Niri
DefaultDependencies=no
After=graphical-session.target sunsetr.service
BindsTo=graphical-session.target
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri
ConditionPathExists=%h/.config/sunsetr/schedule.conf

[Timer]
Unit=sunsetr-auto-profile.service
OnStartupSec=15s
OnCalendar=*-*-* 00:00:00
OnCalendar=*-*-* 02:00:00
OnCalendar=*-*-* 04:00:00
OnCalendar=*-*-* 07:30:00
OnCalendar=*-*-* 10:00:00
OnCalendar=*-*-* 13:00:00
OnCalendar=*-*-* 17:00:00
OnCalendar=*-*-* 19:00:00
OnCalendar=*-*-* 21:00:00
OnCalendar=*-*-* 22:30:00
Persistent=true
AccuracySec=30s

[Install]
WantedBy=graphical-session.target
