[Unit]
Description=Sunsetr blue-light and gamma filter
Documentation=https://github.com/psi4j/sunsetr?tab=readme-ov-file#sunsetr
BindsTo=graphical-session.target
After=graphical-session.target dbus.service
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
ConditionPathExists=/usr/bin/sunsetr
ConditionPathExists=%h/.config/sunsetr/schedule.conf
ConditionPathExists=%h/.config/sunsetr/sunsetr.toml
ConditionPathExists=%h/.local/bin/sunsetr-set

[Service]
Type=simple
NoNewPrivileges=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
ExecStartPre=-/usr/bin/sunsetr stop
ExecStartPre=%h/.local/bin/sunsetr-set auto --no-notify
ExecStart=/usr/bin/sunsetr
Restart=on-failure
RestartSec=30
Slice=background.slice
StandardOutput=journal
StandardError=journal
ConfigurationDirectory=sunsetr
ConfigurationDirectoryMode=0755

[Install]
WantedBy=graphical-session.target
