[Unit]
Description=Delayed KDE Connect daemon
PartOf=graphical-session.target

[Timer]
OnActiveSec=3s
AccuracySec=1s
Unit=kdeconnect.service

[Install]
WantedBy=graphical-session.target
