[Unit]
Description=KDE Connect daemon
After=network.target graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=dbus
BusName=org.kde.kdeconnect.daemon
Environment=QT_QPA_PLATFORM=wayland;xcb
Environment=XDG_RUNTIME_DIR=%t
ExecStart=%h/.local/bin/kdeconnectd-wrapper
Restart=on-failure
RestartSec=5

#[Install]
#WantedBy=default.target
