[Unit]
Description=Valent background service
After=network.target graphical-session.target dbus.service
PartOf=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=dbus
BusName=ca.andyholmes.Valent
Environment=GDK_BACKEND=wayland,x11
Environment=XDG_RUNTIME_DIR=%t
ExecStart=/usr/bin/valent --gapplication-service
Restart=on-failure
RestartSec=5

#[Install]
#WantedBy=default.target
