[Unit]
Description=Delayed Valent background service
PartOf=graphical-session.target

[Timer]
OnActiveSec=10s
AccuracySec=1s
Unit=valent.service

[Install]
WantedBy=graphical-session.target
