[Desktop Entry]
Type=Application
Name=Chrome (Kenp)
GenericName=Web Browser
Comment=Open the Kenp Chrome profile
Exec=chromectl default %U
Terminal=false
Icon=google-chrome
Categories=Network;WebBrowser;
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/about;x-scheme-handler/unknown;
Keywords=chrome;browser;web;kenp;
