[Desktop Entry]
Type=Application
Name=Helium (Kenp)
GenericName=Web Browser
Comment=Open the Kenp Helium profile
Exec=heliumctl default %U
Terminal=false
Icon=helium-browser
Categories=Network;WebBrowser;
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/about;x-scheme-handler/unknown;
Keywords=helium;browser;web;kenp;
