[Unit]
Description=CopyQ clipboard manager daemon
After=graphical-session.target dbus.service
PartOf=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
Environment=QT_QPA_PLATFORM=wayland;xcb
ExecStart=/usr/bin/copyq
ExecStop=/usr/bin/copyq exit
Restart=on-failure
RestartSec=2
TimeoutStopSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
