[Unit]
Description=Delayed CopyQ Clipboard Manager
After=graphical-session.target

[Timer]
OnStartupSec=10s
OnActiveSec=10s
AccuracySec=1s
Unit=copyq.service

[Install]
WantedBy=default.target
