[Unit]
Description=Browserpass native host socket
PartOf=graphical-session.target

[Socket]
ListenStream=%t/browserpass.sock
SocketMode=0600
Accept=yes
RemoveOnStop=true
FlushPending=true

[Install]
WantedBy=graphical-session.target
