layout {
  gaps 6
  center-focused-column "on-overflow"
  always-center-single-column
  background-color "#00000000"

  focus-ring {
    on
    width 3
    active-gradient from="#bd8ff5" to="#cba6f7" angle=45 relative-to="workspace-view" in="oklch shorter hue"
    inactive-color "#313244"
    urgent-color "#f38ba8"
  }

  border {
    off
  }

  shadow {
    color "#11111b70"
  }

  tab-indicator {
    hide-when-single-tab
    place-within-column
    width 4
    gap 6
    length total-proportion=0.9
    position "top"
    gaps-between-tabs 4
    corner-radius 8
    active-color "#cba6f7"
    inactive-color "#6b02e9"
    urgent-color "#f38ba8"
  }

  insert-hint {
    color "#cba6f780"
  }

  preset-column-widths {
    proportion 0.500
    proportion 0.618
    proportion 0.786
    proportion 0.900
    proportion 1.000
  }

  preset-window-heights {
    proportion 0.500
    proportion 0.618
    proportion 0.786
    proportion 0.900
    proportion 1.000
  }

  default-column-width {
    proportion 0.786
  }
}

recent-windows {
  debounce-ms 450
  open-delay-ms 100

  highlight {
    active-color "#cba6f7"
    urgent-color "#f38ba8"
    padding 18
    corner-radius 14
  }

  previews {
    max-height 560
    max-scale 0.60
  }

  binds {
    Mod+Tab { next-window scope="output"; }
    Mod+Shift+Tab { previous-window scope="output"; }
    Mod+Ctrl+Tab { next-window filter="app-id" scope="workspace"; }
    Mod+Ctrl+Shift+Tab { previous-window filter="app-id" scope="workspace"; }
  }
}
