[Unit]
Description=MangoWM session ready stage
Requires=mango-post-daemons.target mango-arrange.service mango-desktop-settings.service mango-post-bootstrap.service
After=mango-post-daemons.target mango-arrange.service mango-desktop-settings.service mango-post-bootstrap.service
BindsTo=graphical-session.target wayland-wm@mango\x2dsession.service
PartOf=mangowm-session.target graphical-session.target wayland-wm@mango\x2dsession.service

[Install]
WantedBy=mangowm-session.target
