[Unit]
Description=Polkit authentication agent (polkit-gnome)
After=graphical-session.target mango-bootstrap.service dbus.service
PartOf=mango-daemons.target graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=XDG_SESSION_DESKTOP=mango

[Service]
NoNewPrivileges=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
SuccessExitStatus=1
Restart=on-abnormal
RestartSec=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=mango-daemons.target
