[Desktop Entry]
Type=Application
Name=GNOME Keyring Secrets (disabled by wayland-autostart module)
Exec=/usr/bin/true
Hidden=true
X-GNOME-Autostart-enabled=false
