[Unit]
Description=Delayed Stasis (Idle Manager)
After=graphical-session.target

[Timer]
OnStartupSec=5s
OnActiveSec=5s
AccuracySec=1s
Unit=stasis.service

[Install]
WantedBy=default.target
