[Unit]
Description=Delayed Flatpak managed installation
After=graphical-session.target

[Timer]
# Açılışın ilk anlarını yormamak için 5 dakika sonra çalıştır
OnStartupSec=5min
OnActiveSec=5min
AccuracySec=1min
Unit=flatpak-managed-install.service

[Install]
WantedBy=default.target
