[Unit]
Description=Managed Flatpak installer
After=network-online.target
Wants=network-online.target
ConditionPathExists=%h/.local/bin/flatpak-managed-install
StartLimitIntervalSec=1h
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=%h/.local/bin/flatpak-managed-install
