[Unit]
Description=Delayed start timer for Flatpak installation

[Timer]
OnBootSec=1m
OnUnitActiveSec=6h
Persistent=true

[Install]
WantedBy=timers.target
